<!DOCTYPE html>
<html lang="de-DE">
    <head>
        <meta charset="utf-8">
        <title>App</title>
    </head>
    <body>
        <form action="" method="post">
            <textarea rows="20" cols="100" name="inputText" id="inputText">{{ initText }}</textarea>
            <br />
            <button id="btn1" name="exercise1">Aufgabe 1</button>
            <button id="btn2" name="exercise2">Aufgabe 2</button>
        </form>
        <div id="solution">
            <pre>
{{ result }}
            </pre>
        </div>
    </body>
</html>